
$pink:  #fff0ed;
$lightblue: #5bacc3;


.card-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}

.card {
  background-color: #fff;;
  margin: 0;
  width: 15rem;
  height: auto;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.card-img {
  margin: 0 auto;
  justify-content: flex-end;
  padding: 1rem;
  height: 15rem;
}

.card-text__box {
  margin: 0 auto;
  width: 100%;
  height: 6.5rem;
  display: flex;
  flex-wrap: wrap;
  background-color:$pink;
}

.card-text__title {
  font-size: 1.2+rem;
  padding: 1rem 0 0 1.25rem;
  width: 100%;
  font-weight:300;
}
.card-text__text {
color: grey;
display:flex;
justify-content: space-between;
width: 70%;
align-items: flex-start;
padding-left: 1.25rem;
}

.card-text__price {
  color: #5bacc3;
  font-size:1.25rem;
  font-family: 'Roboto';
  font-weight: 300;
  display: flex;
  position: relative;
  bottom:2rem;
  padding-left: .5rem;
}


