.footer {
	display: flex;
	justify-content: space-around;
	// align-items: baseline;
	background-color: $pink;
	max-width: 100%;
	height: 10rem;
	padding: 3rem 1rem 1rem 0;
	position: relative;
	margin-top: 3rem;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 0.8rem;
}

.footer-item {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.footer-item__link {
	display: inline-block;
}

.footer-item__text {
	font-size: 0.75rem;
}

.footer-item__text span {
	font-weight: bold;
	padding-top: 1rem;
	font-size: 0.75rem;
}

img.footer-image {
	padding-top: 1rem;
	width: 3rem;
	height: 4rem;
	position: absolute;
	left: 1rem;
	top: 0;
}

.footer-img-two {
	display: flex;
	right: 0rem;
	bottom: 1rem;
	width: 3rem;
	height: 4rem;
	align-content: flex-end;
	justify-content: flex-end;
	position: absolute;
	right: 0;
}

h3.footer-item {
	margin-bottom: 1rem;
}
.smaller-text {
  font-size: 0.5rem;
  font-weight: 100;
}
.bold {
	font-weight: 300;
	font-size: 1rem;
}
