.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-width: 1440px;
	height: 4rem;
	z-index: 1;
	background-color: $pink;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	font-family: 'Roboto';
	font-size: 0.75rem;
	font-weight: 300;
	margin: 0 auto;
}

.main-nav-left {
	display: flex;
}

.main-nav__title {
	font-size: 2rem;
	font-weight: 50;
	padding-left: 0.5rem;
	text-decoration: none;
}

.main-nav__img {
	width: 2rem;
}

.main-nav__list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.main-nav__link,
.main-nav__link--title {
	text-decoration: none;
}

.main-nav__link {
	font-size: 1rem;
}
a {
	color: black;
}

a:visited {
	color: black;
}
.main-nav__link.main-nav__link--active {
	color: #5bacc3;
}
